* {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0px auto;
}

body 
{
	background-image:url('image/pngtree-elegant-earth-toned-textile-artwork-image_13653666.png');
	background-color:#cccccc;
}


header {
    background-color:#642100;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 0px;
}
.experience{
    padding: 20px;
    margin: 10px 10px;
    border-radius: 15px;
    width: 1000px;
    height: 500px;
    position: relative;
}
.work {
    width: 270px;
    height: 200px;
    position: absolute;
    top: 2%;
    right: 70%;
}

.basketball {
    width: 270px;
    height: 265px;
    position: absolute;
    top: 45%;
    left: 40%;
}

.guitar {
    width: 270px;
    height: 200px;
    position: absolute;
    top: 2%;
    left: 70%;
}

.tea{
    width: 270px;
    height: 200px;
    position: absolute;
    top: 45%;
    right: 70%;
}

.basketball {
    width: 270px;
    height: 265px;
    position: absolute;
    top: 45%;
    left: 70%;
}

.exp{
    text-align: center;
    position: relative;
}

.pho{
    position: relative;
    display: flex;
    float: left;
    margin: 5px;
}

.pho2{
    position: relative;
    display: flex;
    float: right;
    margin: 5px;
}

.col1{
    text-align: center;
}

nav {
    background-color:	#FFDAC8;
    font-family: Arial;
    text-align: center;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #cda8b8;
    color: white;
}

footer {
    background-color: 	#FF9D6F;
    color: #444444;
    text-align: center;
    padding: 10px;
}
.img01{
    margin-top: 10px;
    margin-bottom: 20px;
}
.card p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10px;
}
.card {
    /*background-color:whitch ;*/
    padding: 20px ;
    margin: 20px 0px;
    border-radius: 10x;
    background-image: url(image/pngtree-abstract-light-brown-background-with-curve-color-blocks-image_901339.jpg);
    background-size: cover;
    text-align: center;
}

@media screen and(max-width:8000px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;

    }
}

.card,
.card01{
    text-align:center ;
}

img{
    max-width: 100px;
    max-height: 100px;
}

  .bar-chart {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30PX;
    color: red;
}

.bar {
    background-color: #4CAF50;
    height: 20px;
    margin-bottom: 5px;
    transition: width 0.5s;

}
.section h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}
.fix-setting {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
